:root {
  --primary: #e27e00;
  --hover: #0537b4;
  --dark: #0e1726;
  --lilac: #9d02dc;
  --lightblue: #289ec6;
  --font1: "Raleway", sans-serif;
  --font2: "Roboto Condensed", sans-serif; }

.hide {
  display: none !important; }

.flex {
  display: flex !important; }

.overflow {
  overflow: hidden; }

p {
  line-height: 1.5em;
  font-weight: 300; }

.container-title {
  color: var(--lightblue);
  margin-bottom: 30px; }
  .container-title.center::after {
    left: 50%;
    transform: translateX(-50%); }

.button, .cta-btn, .asset .inplayer-paywall .inplayer-preview-box .inplayer-buybutton .inplayer-button {
  font-family: inherit;
  border: 1px solid;
  font-size: inherit;
  font-weight: 400;
  background-color: transparent;
  color: #fff;
  padding: 15px 25px;
  position: relative;
  cursor: pointer;
  -ms-transition: 0.2s all ease-out;
  -moz-transition: 0.2s all ease-out;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all  ease-out; }
  .button:hover, .cta-btn:hover, .asset .inplayer-paywall .inplayer-preview-box .inplayer-buybutton .inplayer-button:hover, .button:focus, .cta-btn:focus, .asset .inplayer-paywall .inplayer-preview-box .inplayer-buybutton .inplayer-button:focus {
    background-color: #fff;
    color: #222;
    border-color: #fff; }
  .button.none-btn, .none-btn.cta-btn, .asset .inplayer-paywall .inplayer-preview-box .inplayer-buybutton .none-btn.inplayer-button {
    border: none;
    padding: 0; }
    .button.none-btn:hover, .none-btn.cta-btn:hover, .asset .inplayer-paywall .inplayer-preview-box .inplayer-buybutton .none-btn.inplayer-button:hover, .button.none-btn:focus, .none-btn.cta-btn:focus, .asset .inplayer-paywall .inplayer-preview-box .inplayer-buybutton .none-btn.inplayer-button:focus {
      background-color: transparent;
      color: #fff; }

.cta-btn, .asset .inplayer-paywall .inplayer-preview-box .inplayer-buybutton .inplayer-button {
  background-size: 100%;
  background: linear-gradient(-45deg, var(--primary), var(--lilac)) !important;
  position: relative;
  z-index: 5;
  color: #fff;
  border: none;
  text-decoration: none;
  -ms-transition: 0.2s all ease-out;
  -moz-transition: 0.2s all ease-out;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all  ease-out; }
  .cta-btn:before, .asset .inplayer-paywall .inplayer-preview-box .inplayer-buybutton .inplayer-button:before {
    background: var(--lilac);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -2;
    transition: opacity .4s; }
  .cta-btn:hover:before, .asset .inplayer-paywall .inplayer-preview-box .inplayer-buybutton .inplayer-button:hover:before {
    opacity: 1; }
  .cta-btn:hover, .asset .inplayer-paywall .inplayer-preview-box .inplayer-buybutton .inplayer-button:hover, .cta-btn:active, .asset .inplayer-paywall .inplayer-preview-box .inplayer-buybutton .inplayer-button:active, .cta-btn:focus, .asset .inplayer-paywall .inplayer-preview-box .inplayer-buybutton .inplayer-button:focus {
    color: #fff; }

.divider {
  display: block;
  height: 3px;
  width: 200px;
  margin: 0 auto; }

a.link {
  text-decoration: underline;
  font-style: italic; }

.back-to-top {
  background: none;
  display: none;
  margin: 0;
  position: fixed;
  bottom: 250px;
  right: 23px;
  width: 35px;
  height: 35px;
  z-index: 100;
  text-decoration: none;
  color: #fff;
  opacity: .5;
  background-color: rgba(9, 9, 9, 0.6);
  border-radius: 60px;
  -ms-transition: 0.2s all ease-out;
  -moz-transition: 0.2s all ease-out;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all  ease-out; }
  .back-to-top i {
    font-size: 38px;
    position: relative;
    left: -1.5px;
    top: -1.5px; }
  .back-to-top:hover {
    opacity: 1; }

.cd-container {
  padding: 0 20px;
  align-self: center;
  width: 100%; }
  .cd-container ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin: 0 auto; }
    .cd-container ul li {
      text-align: center;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-transform: uppercase;
      font-size: 1em;
      background: rgba(14, 20, 34, 0.6);
      color: rgba(255, 255, 255, 0.5);
      padding-bottom: 5px; }
      .cd-container ul li span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5em;
        font-weight: 500;
        color: #fff;
        background-color: rgba(14, 19, 32, 0.4);
        min-width: 120px;
        padding: 10px 20px;
        margin: 0;
        margin-bottom: 5px; }
  @media (max-width: 650px) {
    .cd-container ul li span {
      min-width: 90px;
      font-size: 3em; } }

@media (max-width: 570px) {
  .cd-container {
    padding: 0; }
    .cd-container ul {
      max-width: 330px; }
      .cd-container ul li {
        font-size: 13px; }
        .cd-container ul li span {
          padding: 8px;
          min-width: 70px;
          font-size: 2.8em; } }
#header {
  position: relative;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 90vh;
  width: 100%;
  display: flex;
  align-items: center; }
  #header .header-content {
    height: 100%;
    width: 100%;
    padding: 20px 50px;
    padding-bottom: 30px; }
    #header .header-content .text {
      color: #fff;
      font-family: var(--font1);
      text-align: left;
      padding: 30px 20px;
      width: 100%;
      max-width: 500px;
      align-self: center;
      -ms-transition: 0.2s all ease-out;
      -moz-transition: 0.2s all ease-out;
      -webkit-transition: 0.2s all ease-out;
      transition: 0.2s all  ease-out; }
      #header .header-content .text h1 {
        font-weight: 800;
        margin: 0;
        margin-bottom: 0px;
        font-size: 2.5em; }
      #header .header-content .text p {
        margin-bottom: 40px;
        font-size: 1.2em;
        text-shadow: 0px 0px 18px #000; }
    #header .header-content .image img {
      width: 100%;
      max-width: 600px; }
  @media (max-width: 950px) {
    #header .header-content .text {
      width: 80%;
      margin: 0 auto;
      justify-content: center;
      text-align: center; }
    #header .header-content .image {
      margin: 30px; }
      #header .header-content .image img {
        max-width: 500px; } }
  @media (max-width: 880px) {
    #header .header-content {
      justify-content: center; }
      #header .header-content .text {
        width: calc(100% - 50px);
        text-align: center;
        justify-self: center;
        padding: 30px 0; } }
  @media (max-width: 520px) {
    #header .header-content {
      padding: 20px; } }

#faq {
  padding: 50px 0; }
  #faq .faq-header {
    color: #fff;
    text-align: center; }
    #faq .faq-header .divider {
      background-color: var(--primary); }
  #faq .faq-info {
    display: flex;
    padding: 0 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box; }
    #faq .faq-info ul {
      list-style: none;
      padding: 0;
      width: 100%;
      max-width: 600px;
      margin: auto; }
      #faq .faq-info ul .inner {
        padding: 1em;
        overflow: hidden;
        color: rgba(255, 255, 255, 0.8);
        display: none;
        line-height: 1.5em;
        border: 1px solid #b3b3b3;
        border-top: none; }
        #faq .faq-info ul .inner .question {
          padding: 10px 0; }
      #faq .faq-info ul li {
        margin: .5em 0; }
        #faq .faq-info ul li a.toggle {
          display: block;
          border: 1px solid rgba(255, 255, 255, 0.24);
          color: #fff;
          text-decoration: none;
          padding: .75em;
          -ms-transition: 0.2s all ease;
          -moz-transition: 0.2s all ease;
          -webkit-transition: 0.2s all ease;
          transition: 0.2s all ease; }
          #faq .faq-info ul li a.toggle:hover {
            background: rgba(255, 255, 255, 0.1); }
          #faq .faq-info ul li a.toggle.active {
            border-color: #fff;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            background-color: rgba(255, 255, 255, 0.06);
            color: #fff;
            font-weight: 500; }

#footer {
  border-top: 1px solid rgba(255, 255, 255, 0.21);
  color: #fff;
  padding: 4%;
  display: flex;
  justify-content: space-between; }
  #footer h2 {
    font-family: var(--font1); }
  #footer .divider {
    background-color: #fff; }
  #footer .f-left {
    text-align: left; }
  #footer .f-right-container {
    display: flex;
    align-items: center;
    text-align: right; }
    #footer .f-right-container .f-right .social-icons a {
      -ms-transition: 0.3s all ease;
      -moz-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
      cursor: pointer; }
      #footer .f-right-container .f-right .social-icons a i {
        font-size: 20px;
        color: #fff;
        margin: 5px; }
      #footer .f-right-container .f-right .social-icons a:hover {
        opacity: .7; }
    #footer .f-right-container .f-right #ip {
      font-family: var(--font1);
      text-transform: uppercase;
      opacity: .4;
      font-weight: 600;
      margin: 0; }

@media (max-width: 950px) {
  #footer {
    flex-direction: column; }
    #footer .f-left, #footer .f-right-container {
      text-align: center;
      justify-content: center;
      margin: 10px 0; }
    #footer .f-right-container .f-right #ip {
      margin: 10px 0; } }
.asset {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 10px; }
  .asset .asset-description {
    max-width: 70ch;
    margin: 0 auto;
    text-align: center;
    padding: 0 10px;
    color: #fff; }
    .asset .asset-description #item-title {
      position: relative; }
  @media screen and (max-width: 600px) {
    .asset .responsive-iframe {
      position: relative;
      overflow: hidden;
      padding-top: 56.25%; }
      .asset .responsive-iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; } }
  .asset .inplayer-paywall {
    text-align: center; }
    .asset .inplayer-paywall .inplayer-preview-box {
      padding: 0;
      background: none;
      border: none;
      font-family: var(--font1); }
      .asset .inplayer-paywall .inplayer-preview-box .inplayer-imageholder::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4); }
      .asset .inplayer-paywall .inplayer-preview-box .inplayer-imageholder .inplayer-paywallexplain {
        display: none; }
      .asset .inplayer-paywall .inplayer-preview-box .inplayer-itemdetails {
        display: none;
        position: absolute;
        color: #fff;
        bottom: 140px;
        left: 30px;
        width: 54%; }
        .asset .inplayer-paywall .inplayer-preview-box .inplayer-itemdetails .inplayer-title {
          color: #fff;
          font-weight: 600;
          text-align: left;
          font-size: 2em;
          line-height: 1em; }
        .asset .inplayer-paywall .inplayer-preview-box .inplayer-itemdetails p {
          text-align: left;
          font-weight: 200; }
      .asset .inplayer-paywall .inplayer-preview-box .inplayer-buybutton {
        position: absolute;
        top: calc(50% - 17px);
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
        .asset .inplayer-paywall .inplayer-preview-box .inplayer-buybutton .inplayer-button {
          letter-spacing: normal;
          width: initial;
          text-transform: initial; }
      .asset .inplayer-paywall .inplayer-preview-box .inplayer-preview-footer {
        margin-top: 0;
        border: none; }
    @media screen and (max-width: 645px) {
      .asset .inplayer-paywall .inplayer-preview-box .inplayer-itemdetails {
        position: initial;
        color: #222;
        width: 100%;
        box-sizing: border-box;
        padding: 0 1em; }
        .asset .inplayer-paywall .inplayer-preview-box .inplayer-itemdetails .inplayer-title {
          color: #222; }
      .asset .inplayer-paywall .inplayer-preview-box .inplayer-buybutton {
        width: 100%;
        max-width: 210px;
        padding: 0 1em; } }

@media (max-width: 990px) {
  .asset {
    flex-direction: column; }
    .asset .asset-description p {
      width: 100%; } }
html {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

p {
  font-family: var(--font2); }

body {
  background-color: var(--dark);
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: var(--font1);
  -ms-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased; }
  body #nav-wrapper {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font1);
    color: #111;
    background-color: var(--dark);
    font-size: 1em;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 30px 60px; }
    body #nav-wrapper .nav-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 5px; }
      body #nav-wrapper .nav-container ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin: 0;
        animation-duration: 0.5s; }
        body #nav-wrapper .nav-container ul li {
          display: inline;
          text-align: center;
          border-bottom: 2px solid transparent;
          margin: 0 15px;
          -ms-transition: 0.2s all ease-out;
          -moz-transition: 0.2s all ease-out;
          -webkit-transition: 0.2s all ease-out;
          transition: 0.2s all  ease-out; }
          body #nav-wrapper .nav-container ul li:hover, body #nav-wrapper .nav-container ul li:focus {
            border-bottom: 2px solid var(--primary); }
          body #nav-wrapper .nav-container ul li a {
            color: #fff;
            text-decoration: none;
            -ms-transition: 0.2s all ease-out;
            -moz-transition: 0.2s all ease-out;
            -webkit-transition: 0.2s all ease-out;
            transition: 0.2s all  ease-out; }
            body #nav-wrapper .nav-container ul li a:hover {
              opacity: .8; }
      body #nav-wrapper .nav-container .nav-logo {
        display: flex;
        align-items: center;
        color: #fff;
        width: 100px; }
        body #nav-wrapper .nav-container .nav-logo .logo {
          width: 120px; }
    @media (min-width: 790px) {
      body #nav-wrapper .hamburger {
        display: none; } }
  @media (min-width: 790px) {
    body #menu.animated {
      -ms-animation: none;
      -moz-animation: none;
      -webkit-animation: none;
      animation: none; } }
  @media (max-width: 789px) {
    body #nav-wrapper {
      padding: 0; }
      body #nav-wrapper .nav-container {
        position: relative;
        padding: 20px; }
        body #nav-wrapper .nav-container ul {
          padding: 0 !important;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-left: 40px;
          position: fixed;
          background-color: var(--dark);
          height: 100vh;
          width: 100vw;
          top: 0;
          left: 0;
          overflow: hidden;
          display: none; }
          body #nav-wrapper .nav-container ul li {
            margin: 20px 0; }
          body #nav-wrapper .nav-container ul .login-button {
            margin: 20px 0; }
          body #nav-wrapper .nav-container ul.slideInDown {
            display: flex; } }

/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
